
@{
    ViewBag.Title = "Новый сервер";
}

<h2>Новый сервер</h2>

@using (Html.BeginForm("Add", "Servers", FormMethod.Post))
{
    Html.RenderPartial("Partials/ServerFormPartials");

    <button type="submit">Создать сервер</button>
}
